.navigationContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.name {
  margin-left: 20px;
  margin-top: 20px;
  text-decoration: none;
  color: white;
  font-size: 40px;
  font-family: 'Roboto Mono', monospace;
}

.navigationContainer {
  display:flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  margin-left: 100px;
}


.dashboard-selector {
  font-family: ColfaxAI,Helvetica,sans-serif;
  display:flex;
  flex-direction: row;
  font-size: 20px;
  align-items: center;
  color: white;
  padding: 3px 15px;
  text-decoration: none;
  margin-top: 30px;
  margin-bottom: 30px;
}

.active-selector {
  color: white;
  background-image: url("https://lh3.googleusercontent.com/bi0O3oF0WkWZvcPBO5L2bbOtv4slB2AOHt9nQ856jOsAauw1qifn17AxwZCX96R4tX-_OFVJC0EzzO3-QQfqYMFVXfFsyqDwICp3xVlH8yc5Z9krb1X0GVneNd3Sm1d9a9doULui=w2400");
}



@media only screen and (max-width: 700px) {
  .navigationContent {
    flex-direction: column;
  }
  .navigationContainer {
    margin-left: 0px;
    justify-content: center;
  }
}

@media only screen and (max-width: 450px) {

.name {
  margin-left: 0px;
  font-size: 25px;
}
.dashboard-selector {
  font-size: 15px;
  color: white;
}
}