.navigationContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.name {
  margin-left: 20px;
}

.navigationContainer {
  display:flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  margin-left: 100px;
}


.link {
  display:flex;
  flex-direction: row;
  font-size: 20px;
  align-items: center;
  color: white;
  padding: 3px 15px;
  text-decoration: none;
}
@media only screen and (max-width: 700px) {
  .navigationContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .navigationContainer {
    display:flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    margin-left: 0px;
    justify-content: center;
  }
}

@media only screen and (max-width: 450px) {

.name {
  margin-left: 0px;
  font-size: 25px;
}
.link {
  display:flex;
  flex-direction: row;
  font-size: 15px;
  align-items: center;
  color: white;
  padding: 3px 15px;
  text-decoration: none;
}


}