.navigationContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.name {
  margin-left: 20px;
}

.navigationContainer {
  display:flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  margin-left: 100px;
}


.link {
  display:flex;
  flex-direction: row;
  font-size: 20px;
  align-items: center;
  color: white;
  padding: 3px 15px;
  text-decoration: none;
}