.about {
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  width: 600px;
  margin: 30px auto;
  }

.profileImage {
  border-radius: 50%;
  width: 200px;
}

.description {
  display: flex;
  text-align:left;
  flex-wrap: wrap;
  margin-top: 30px;
  text-indent: 50px;
}

.resume {
    background-color:black;
    border-width: 5px;
    border-radius: 10px;
    border-color:green;
    color: Green;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
}
