.navigationContent {
  display: flex;
  flex-direction: row;
}
h1 {
  justify-content: flex-start;
}
nav {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.link {
  display:flex;
  flex-direction: row;
  font-size: 20px;
  align-items: center;

  padding: 3px 15px;
  text-decoration: none;
}

.link {
  color: white;
}