.projectsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.project {
  width: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.portfolioImages {
  display: block;
  max-width:230px;
  max-height:95px;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
} 